@font-face {
  font-family: 'ns';
  src: url('../assets/fonts/NeoSansStd-Bold/NeoSansStd-Bold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/NeoSansStd-Bold/NeoSansStd-Bold.otf')  format('opentype'),
       url('../assets/fonts/NeoSansStd-Bold/NeoSansStd-Bold.woff') format('woff'),
       url('../assets/fonts/NeoSansStd-Bold/NeoSansStd-Bold.ttf')  format('truetype'),
       url('../assets/fonts/NeoSansStd-Bold/NeoSansStd-Bold.svg#NeoSansStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #ff0;
}

.selected {
  color: indianred;
}

h2 {
  margin: 0;
}

.hide-class {
  visibility: hidden;
}

// menu toggle
.hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
  outline: none;
  background: none;
  border: 0;

  // background-color: #159957;
}


.hamburger span.active {
  display: block;
  position: absolute;
  top: 17px;
  left: 40px;
  right: 5px;
  height: 63px;
  width: 8px;
  // background-color: indianred;

  transition: background-color .3s ease-in-out;

  background: #1a2580;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}

.hamburger span.active::before,
.hamburger span.active::after {
  display: block;
  position: absolute;
  width: 8px;
  height: 63px;
  background-color: #1a2580;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  content: "";
}

.hamburger span.active::after {
  left: 20px;
}

.hamburger span.active::before {
  left: -20px;
}


.hamburger span.noActive,
.hamburger span.noActive::before,
.hamburger span.noActive::after {
  display: block;
  position: absolute;
  top: 17px;
  left: 40px;
  right: 5px;
  height: 55px;
  width: 8px;

  background-color: #1a2580;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  content: "";
}

.hamburger span.noActive {
  height: 63px;
  top: 23px;
}

.hamburger span.noActive::before {
  left: -20px;
  height: 63px;
  top: -10px;
}

.hamburger span.noActive::after {
  left: 20px;
  height: 63px;
  top: -10px;
}


// open close
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 0;
  outline: none;

  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);

  cursor: pointer;
}


.show-active {
  background-color: indianred;
}
.hide-active {
  background-color: #ff0;
}

// md icon size
/* Rules for sizing the icon. */
// .material-icons.md-18 { font-size: 18px; }
// .material-icons.md-24 { font-size: 24px; }
// .material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
// .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
// .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
// .material-icons.md-light { color: rgba(255, 255, 255, 1); }
// .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
