<button (click)="toggleMenu()" class="hamburger">
  <span>toggle menu</span>
</button>
<app-menu [@slideInOut]="menuState"></app-menu>

<app-gmap></app-gmap>
<app-chart></app-chart>


<div class="bc" [style.background-color]="randomcolor">



  <h2>Angular experiment by Milandarius</h2>
  <div>
    <ul>
      <li *ngFor="let user of users; index as i"
          [class.selected]="user === selected"
          (click)="selectedUser(user)">
        {{i +1}} - {{user.name}}
      </li>
    </ul>
  </div>
  <div>
    <h3> Selected user is: <span *ngIf="selected">{{selected.name}}</span></h3>
  </div>


  <button (click)="setColor()">Change bg color</button>

  <button [style.background-color]="isSpecial ? 'red': 'green'">Red</button>
  <button [style.background-color]="canSave ? 'cyan': 'grey'" >Save</button>

  <button (click)="onSave($event)">Kick me</button>

  <div *ngIf="!isSpecial">Show me hide me</div>



  <div [ngStyle]="{'color': 'blue', 'font-size': '24px', 'font-weight': 'bold'}">
    style using ngStyle
  </div>


  <input [(ngModel)]="color" />
  <button (click)="size = size + 1">+</button>
  <button (click)="size = size - 1">-</button>

  <div [ngStyle]="{'color': color, 'font-size': size + 'px'}">
    style using ngStyle
  </div>

  <br /><br/>

  <div [ngClass]="['bold-text', 'green']">array of classes</div>
  <div [ngClass]="'italic-text blue'">string of classes</div>
  <div [ngClass]="{'small-text': true, 'red': true}">object/map of classes</div>

  <span [ngClass]="displayText">toggled with ngClass</span>
  <button (click)="toggle()">Toggle</button>

  <hr>
  <button (click)="big=!big">{{big ? '-' : '+'}}</button>
  <div *ngIf="big">Show me hide me 222</div>

  <app-child [users]="users"></app-child>

  <!-- open close  -->
​  <button class="btn"
          *ngIf="!list"
          (click)="list = true"
          [ngClass]="list ? 'show-active' : 'hide-active'">
    <i class="material-icons md-48">menu</i>
  </button>
  <button class="btn"
          *ngIf="list"
          (click)="list = false"
          [ngClass]="list ? 'show-active' : 'hide-active'">
      <i class="material-icons md-48">close</i>
  </button>

  <div *ngIf="list" [ngClass]="list ? 'show-active' : 'hide-active'">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores blanditiis sit
      eveniet veniam, doloribus hic corrupti nesciunt reiciendis, tempore quis vel,
      nihil quam incidunt illum consequatur quas eaque dolorum repellendus.
    </p>
  </div>


</div>

<app-slide-menu></app-slide-menu>

